<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CONEXIOBBDD</servlet-name>
        <servlet-class>paquetevotaciones.DAO.ConexionBBDD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultarCenso</servlet-name>
        <servlet-class>paquetevotaciones.CONTROLADOR.ServletConsultarCenso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAltaVotante</servlet-name>
        <servlet-class>paquetevotaciones.CONTROLADOR.ServletAltaVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletResultado</servlet-name>
        <servlet-class>paquetevotaciones.CONTROLADOR.ServletResultado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDispatcher</servlet-name>
        <servlet-class>paquetevotaciones.CONTROLADOR.ServletDispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBajaVotante</servlet-name>
        <servlet-class>paquetevotaciones.CONTROLADOR.ServletBajaVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVotar</servlet-name>
        <servlet-class>paquetevotaciones.CONTROLADOR.ServletVotar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVotarConfirmar</servlet-name>
        <servlet-class>paquetevotaciones.CONTROLADOR.ServletVotarConfirmar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CONEXIOBBDD</servlet-name>
        <url-pattern>/CONEXIOBBDD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultarCenso</servlet-name>
        <url-pattern>/ServletConsultarCenso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAltaVotante</servlet-name>
        <url-pattern>/ServletAltaVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletResultado</servlet-name>
        <url-pattern>/ServletResultado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDispatcher</servlet-name>
        <url-pattern>/ServletDispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBajaVotante</servlet-name>
        <url-pattern>/ServletBajaVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVotar</servlet-name>
        <url-pattern>/ServletVotar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVotarConfirmar</servlet-name>
        <url-pattern>/ServletVotarConfirmar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
